@use './mixins' as mixins;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: auto;
    min-height: 100vh;
    color: var(--contrast-color);
    font-family: var(--font);
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // @include mixins.background-gradient;
}

canvas{
    touch-action: none;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--bg-secondary-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 20px;
    border: 1px solid var(--bg-secondary-color);
}

::selection {
    background-color: var(--main-color);
    color: var(--bg-main-color);
}