@mixin flex-central {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin background-gradient {
    background: linear-gradient(to bottom,
            var(--bg-main-color),
            var(--bg-secondary-color));
}