:root{
    --font: Teko, monospace;
    --main-color: #ffa034; 
    --main-secondary-color: #98031e;
    --bg-main-color: #19052a;
    --bg-secondary-color: #311847;
    --bg-image: url('https://paschoalinks.vercel.app/bg-image.webp');
    --contrast-color: #fff;
    --shadow-color: rgba(0,0,0, 0.4);
}